@import "../../../styles/styles.scss";

.main_container{
    background-color: black;
    background-size: cover;
}

.inner_container{
    text-align: center;
    color: #F8FCF8;
    padding: 25px;
    font-family: bitoperator;
}

table{
    width: 60%;
    margin: auto;
    text-align: center;
}

.rang_container{
    width: 20%;
    font-size: 2em;
}

.score_container{
    width: 40%;
    font-size: 2em;
}

.nom_container{
    width: 40%;
    font-size: 2em;
}

.container_0{
    color: #F5EF00;
    font-size: 3em;
    text-shadow: 2px 2px 0px #ff6600;
}

.container_1{
    color: #F16309;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px #660000;
}

.container_2{
    color: #EE040A;
    font-size: 2em;
    text-shadow: 2px 2px 0px darkblue;
}

tr{
    height : 2em
}

:host ::ng-deep .dark-panel.p-button{
    background-color: #0BEDEC !important;
    font-family: bitoperator;
    color : black;
    margin: 2.5%;
}

:host ::ng-deep .dark-panel.p-inputNumber{
    background-color: #1f1f1f;
    color: gray;
    margin: 5px;;
}

.p-inputNumber{
    background-color: #1f1f1f;
    color: gray;
    margin: 5px;; 
}

.forms{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;

    input  {
        background-color: #1f1f1f;
        color: gray;
        margin: 5px;;
    }
    
}
