<div class='main_container'>
    <div class='inner_container'>
        <h1>C'EST QUI LE PLUS FORT?</h1>
        <h2>Utilise ton argent pour montrer que c'est TOI le plus fort !</h2>
        <form>
            <div class='forms'>
                <input type="text" pInputText aria-label="votre nom" placeholder="Votre nom"> 
                <input type="text" pInputText aria-label="votre lien" placeholder="Lien web"> 
                <input type="text" pInputText aria-label="votre email" placeholder="Votre email@example.com">
            </div>
        </form>
        <div>
            <table>
                <tbody>
                    <tr>
                        <th class="rang_container">
                            Rang
                        </th>
                        <th class="score_container">
                            Score
                        </th>
                        <th class="nom_container">
                            Nom
                        </th>
                    </tr>
                    <tr *ngFor = "let list of lists; let ndx = index" [ngClass]="'container_' + ndx" class='th_table'>
                        <th>{{ndx+1}}</th>
                        <th>{{list.score}}</th>
                        <th>{{list.url}}</th>
                    </tr>
                </tbody>
            </table>
            <div>

            </div>
        </div>
    </div>
</div>
