<div class='main_container'>
    <div class='inner_container'>
        <h1>C'EST QUI LE PLUS FORT?</h1>
        <h2>Utilise ton argent pour montrer que c'est TOI le plus fort !</h2>
        <button>Inscrire mon score</button>
        <div>
            <table>
                <tbody>
                    <tr>
                        <th class="rang_container">
                            Rang
                        </th>
                        <th class="score_container">
                            Score
                        </th>
                        <th class="nom_container">
                            Nom
                        </th>
                    </tr>
                    <tr *ngFor = "let list of lists; let ndx = index" [ngClass]="'container_' + ndx" class='th_table'>
                        <th>{{ndx+1}}</th>
                        <th>{{list.score}}</th>
                        <th>{{list.url}}</th>
                    </tr>
                </tbody>
            </table>
            <form>
                <input type="text" name="amount" id="amount" value="" placeholder="Your highscore in USD dollars">
                <input type="text" name="name" id="name" value="" placeholder="Your name" maxlength="15">
                <input type="text" name="url" id="url" value="" placeholder="Link to your site">
                <input type="text" name="email" id="email" value="" placeholder="email@example.com">
                <input type="submit" name="commit" value="Pay" id="pay" data-disable-with="Pay">
            </form>
        </div>
    </div>
</div>
