<div class='main_container'>
    <div class='inner_container'>
        <h1>C'EST QUI LE PLUS FORT?</h1>
        <h2>Utilise ton argent pour montrer que c'est TOI le plus fort !</h2>
        <form>
            <div class='forms'>
                <input type="text" pInputText aria-label="votre nom" placeholder="Votre nom"> 
                <input type="text" pInputText aria-label="votre lien" placeholder="Lien web"> 
                <input type="text" pInputText aria-label="votre email" placeholder="Votre email@example.com">
            </div>
        </form>
        <div>
            <table>
                <tbody>
                    <tr>
                        <th class="rang_container">
                            Rang
                        </th>
                        <th class="score_container">
                            Score
                        </th>
                        <th class="nom_container">
                            Nom
                        </th>
                    </tr>
                    <tr *ngFor = "let list of lists; let ndx = index" [ngClass]="'container_' + ndx" class='th_table'>
                        <th>{{ndx+1}}</th>
                        <th>{{list.score}}</th>
                        <th>{{list.url}}</th>
                    </tr>
                </tbody>
            </table>
            <form>
                <input type="text" name="amount" id="amount" value="" placeholder="Your highscore in USD dollars">
                <input type="text" name="name" id="name" value="" placeholder="Your name" maxlength="15">
                <input type="text" name="url" id="url" value="" placeholder="Link to your site">
                <input type="text" name="email" id="email" value="" placeholder="email@example.com">
            </form>
            <div class="col-md-5 mb-2">
                <button (click)="makePayment(15)" class="btn btn-danger btn-block">Pay $15</button>
            </div> 

        </div>
    </div>
</div>
